services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: test-case-aptavis
    container_name: app_service_aptavis
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - .:/var/www
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: db_service_aptavis
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - dbdata:/var/lib/mysql

  nginx:
    image: nginx:alpine
    container_name: nginx_service_aptavis
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./docker-config/nginx:/etc/nginx/conf.d
    depends_on:
      - app

volumes:
  dbdata: